body {
  margin: 0;
  margin-top: 15px;
  background-color: whitesmoke;
  font-family: sans-serif;
  font-size: 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 640px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.title {
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase;
  text-align: justify;
  width: 250px;
  margin: 0 auto;
}
.justify::after{
  content: "";
  display: inline-block;
  width: 100%;
}

.text {
  font-size: 1.5em;
  width: 250px;
  margin: 5px auto 5px auto;
  letter-spacing: 1px; 
  text-align: left;
}
ol {
  margin: 0;
  padding-left: 1.6em;
}
li { 
  margin-bottom: 1em;
}
li:last-child{
  margin-bottom: 0;
}

#box {
  width: 250px;
  margin: 20px auto 0 auto;
  resize: none;
}
#box textarea {
  font-size: 1.5em;
  width: 250px;
  height: auto;
  outline: none;
  border: 1px solid #333;
}
.button {
  width: 250px;
  margin: 20px auto 0 auto;
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase;
  text-align: justify;
  padding: 5px 20px;
  border: 1px solid #333;
  box-sizing: border-box;
  cursor: hand;
  background-color: #333;
  color: white;
}

.animated {
  animation: flash 1s;
}
@keyframes flash {
  0% {
    background-color: whitesmoke;
  }
  40% {
    background-color: #333;
  }
  100% {
    background-color: whitesmoke;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
